@{

}
@section Styles {
    <link rel="stylesheet" href="~/css/MainPageHeader.css" />
}

<header>
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">ECommerce</a></li>
                        <li class="uk-active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="uk-active"><a asp-action="Basket" asp-controller="Purchase">Basket  @await Component.InvokeAsync("BasketItemCounter")</a></li>
                        <li class="uk-active"><a>@(ViewBag.UserName == null ? ' ' : "Welcome " + ViewBag.UserName)</a></li>
                    </ul>

                </div>

                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">Auth</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a asp-action="LogIn" asp-controller="Auth">LogIn</a></li>
                                    <li><a asp-action="SignIn" asp-controller="Auth">SignIn</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a asp-action="LogOut" asp-controller="Auth">LogOut</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
</header>