@model List<Entity.EntityClass.Card>

 @section Styles{
     <style>
        .uk-table th {
            text-align: left !important;
        }

        .uk-table img {
            width: 70px;
            height: 100px;
            object-fit: cover
        }

     </style>
 }
<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Book cover</th>
            <th>Book count</th>
            <th>Book price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model)
        {
            string path = " ";
            if (card.Book.HeaderImagePath != null)
            {
                path = card.Book.HeaderImagePath.Replace('\\', '/').Substring(1);
            }

            <tr>
                <td><img src="@path" alt="book cover"></td>
                <td>Book Count : @card.BookCount</td>
                <td>Total Price : @card.TotalPrice</td>
                <td><a class="btn btn-danger">Remove Book</a></td>
                <td><a class="btn btn-success">Add Book</a></td>
            </tr>
        }
    </tbody>
</table>
<div><a class="btn btn-info">Confirm Buy Basket</a></div>