@model Entity.Models.OrderViewPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "AdminLayout";
}
@section Styles{
    <style>
        .table{
            background:#fff;
            margin-top:50px;
        }
        .table th , .table td{
                text-align: center !important;
        }
        .button-actions{
            display:flex;
            justify-content:space-around;
        }
    </style>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">OrderId</th>
            <th scope="col">UserName</th>
            <th scope="col">OrderStatus</th>
            <th scope="col">Update Order Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.orderList)
        {
        <tr>
            <td scope="row">@order.Id</td>
            <td>@order.User.UserName</td>
                <td>@order.OrderStatus</td>
            <td class="button-actions">
                    @if (order.OrderStatus == Entity.Enum.OrderStatus.Pending)
                    {
                        <form method="post" asp-action="ApproveOrder">
                            <input type="hidden" value="@order.Id" name="orderid" />
                            <button class="btn btn-success" type="submit">Approve</button>
                        </form>
                    }

                    <form>
                        <button class="btn btn-warning">Cancel</button>
                    </form>
                    <form>
                        <button class="btn btn-danger">Ban</button>
                    </form>
            </td>
        </tr> 
        }

    </tbody>
</table>