@model Entity.EntityClass.Book

@section Styles{
    <link rel="stylesheet" href="~/css/SubImageSlider.css"/>
}
@section Scripts{
    <script src ='~/js/SubImageSlider.js'></script>
}
<div class="slider">
    <div class="arrow left-arrow">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    @foreach (var img in Model.Images)
    {
        string path = img.Path.Replace('\\', '/').Substring(1);
        <div class="img-container" style="background-image:url('@path')"></div>
    }

    <div class="arrow right-arrow">
        <i class="fa-solid fa-arrow-right"></i>
    </div>
</div>

