@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("ExchangeRateComponent")
@section Styles{
}
<link rel="stylesheet" href="./css/Home.css"/>


<div class="book-container">
    <div class="card">
        <div class="front">front</div>
        <div class="back">back</div>
    </div>
    <div class="card">
        <div class="front">front</div>
        <div class="back">back</div>
    </div>

        <div class="card">
        <div class="front">front</div>
        <div class="back">back</div>
    </div>

    <div class="card">
        <div class="front">front</div>
        <div class="back">back</div>
    </div>

    <div class="card">
        <div class="front">front</div>
        <div class="back">back</div>
    </div>
</div>