<style>
    .basket-counter{
        border-radius:50%;
        background: #ee8679;
        width:18px;
        display:flex;
        align-items:center;
        justify-content:center;
        color:#fff;
        font-weight:bolder;
        position:relative;
        left:-10px;
        bottom:-10px;
    }
</style>
<i class="fa-solid fa-basket-shopping"></i> <span class="basket-counter">@ViewBag.cards</span>