@model Entity.Models.SingInViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "AdminLayout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/SingIn.css" />
    <style>
        .sigin-card{
            background : #fff;
        }
    </style>
}
<div asp-validation-summary="All" class="sing-in-validation">
</div>
<form method="post" asp-action="AddUser" asp-controller="User" asp-area="Admin">
    <div class="sigin-card">
        <h3 class="sigin-card-header">Add User</h3>
        <hr>
        <div class="center">
            <div class="row__ r1">
                <input type="text" placeholder="first name" asp-for="@Model.FirstName">
                <input type="text" placeholder="last name" asp-for="@Model.LastName">
            </div>
            <div class="row_ r2">
                <input type="text" placeholder="email" asp-for="@Model.Email">
            </div>
            <div class="row_ r3">
                <input type="password" placeholder="password" asp-for="@Model.Password">
            </div>
            <div>
                <label for="dropdown">Select an option:</label>
                <select id="dropdown" asp-for="UserRole" asp-items="ViewBag.UserRoleOptions" class="form-control">
                    <option value="Customer"></option> @* default option *@
                </select>
            </div>
            <button class="submit-btn uk-button uk-button-primary" type="submit">Add User</button>
        </div>
    </div>
    </div>

</form>